version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

  backend:
    build: ./backend
    container_name: nodejs-app-container
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydatabase
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: react-app-container
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  mongo-data: